<!DOCTYPE html>
<html>

    <head>

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../scripts/loadTemplate.js"></script>

        <div class="headtemplate"></div>
        
    </head>

    <body> 
        

        <div class="headertemplate"></div>
        
        <div class="row">

                <div class="leftcolumn">
                    <div class="card" id="article1">
                        <h3>Awesome Heading 1</h3>
                        <div class="img">Awesome Image is Awesome</div>
                    </div>
    
                    <div class="card">
                        <h2>AwesomeSauce</h2>
                    </div>
                </div>
    
               
            <div class="rightcolumntemplate"></div>
    
           </div>

        <div class="footertemplate"></div>


        <script>loadTemplate();</script>


        
    </body>




</html> 