<!DOCTYPE html>
<html>
    <div class="rightcolumntemplate">
        <body>
            <div class="row">
                <div class="rightcolumn">

                    <img src="../images/yotsuba1.jpg">

                    <div class="card">

                        <div class="search-container">
                            
                            <input type="text" placeholder="Search...">
                            <a>search</a>
                        </div>

                    </div>

                    <div class="card">
                        <h3>about</h3>
                        <p>
                            TODO: Get a life so that I can fill this column with an interesting blurb > >;
                        </p>
                    </div>

                </div>
        </body>
</html>